body, html {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Prompt', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.intro-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  opacity: 0.4; /* Set the desired opacity (0.4 for 40% opacity) */
  z-index: -1;
}

.toscroll {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toscroll h1 {
  font-size: 3rem;
}

.toscroll p {
  font-size: 25px;
  margin-top: 10px;
}

.scroll {
  position: absolute;
  bottom: 0; /* Position at the bottom of the .intro-container */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: black;
}

body::-webkit-scrollbar {
  width: 0px; /* WebKit-based browsers */
  color:blue;
}

.content {
  margin-top: 100px;
  max-width: 400px; /* Set the maximum width of the container */
  word-wrap: break-word; /* Break long words and wrap onto the next line */
  white-space: pre-line; /* Preserve white-space characters and break lines */
  margin-left: 30px;
  margin-top: 20px;
  
}

.content p {
  font-size: 1rem;
  margin-bottom: 10px; /* Add margin between paragraphs */
}


.content img {
  width: 200px;
  align-items:end;
}

h3 {
  margin-bottom: 10px; /* Adjust the margin-bottom as per your preference */
}

/* Additional CSS for centering the content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.image-container {
  /* display: none; Hide images by default */
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  /* width:10px; */
  /* margin: 20px; */
  /* text-align: right
  z-index: 9999; /* Ensure images appear above other elements */
  right: 30%;
}

.image-container img {
  border-radius: 20px;
  width: 300px;
  height: auto;
}


.image-container img:nth-child(even) {
  border-radius: 10px;
  position: absolute;
  left:-150px;
  width:700px;
}

/* Media query to show images only on screens larger than 768px */
@media (max-width: 1240px) {
  .image-container {
    display: none; /* Show images on larger screens */
  }
}
#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
